.produk {
    width: 100%;
    padding: 0 5%;

    &__title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        &__skeleton {
            width: 200px;
            height: 200px;
            background-color: #8f8f8f;
            border-radius: 8px;
            margin-bottom: 1rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            animation: identifier 1s ease-in-out infinite;
            &__image {
                width: 100%;
                height: 100%;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                animation: identifier 1s ease-in-out infinite;
            }
            &__name {
                width: 80%;
                height: 20px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                animation: identifier 1s ease-in-out infinite;
            }
            &__price {
                width: 60%;
                height: 16;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                animation: identifier 1s ease-in-out infinite;
            }
            &__category {
                width: 40%;
                height: 18px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                animation: identifier 1s ease-in-out infinite;
            }
            &__size {
                width: 20%;
                height: 14px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                animation: identifier 1s ease-in-out infinite;
            }
        }

        &__item{
            &__image {
                width: 100%;
                height: 200px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
            &__name {
                width: 20px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
            &__price {
                width: 16px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
            &__category {
                width: 18px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
            &__size {
                width: 14px;
                background-color: #8f8f8f;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
        }
    }
}

@keyframes identifier {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }   
}